<div class="admin-container">

  <div class="current-list">

    <div class="song admin-song" ng-repeat="song in songs">
      <span class="delete" ng-click="deleteSong(song, $index)">✖</span>️
      {{ song.title }} - {{ song.artist }}
    </div>
  </div>

  <div class="new-song">
    <div>
      Title: <input type="text" ng-model="title" />
    </div>
    <div>
      Artist: <input type="text" ng-model="artist" />
    </div>
    <div>
      Url: <input type="text" ng-model="url" />
    </div>
    <button ng-click="addSong()">Add Song</button> 
  </div>

</div>