<div class="landing-container">
  <div class="list-container" ng-controller="ListController">

    <div class="song" 
      ng-repeat="song in songs"
      ng-click="changeSong(song)">
      <div class="title">
        {{ song.title }}
      </div>
      <div class="artist">{{ song.artist }}</div>
      
    </div>

  </div>

  <div class="song-container" ng-controller="SongController">

    <div ng-show="song.title">
      <div>
        Title: <span ng-bind="song.title"></span>
      </div>
      <div>
        Artist: <span ng-bind="song.artist"></span>
      </div>
    </div>

    <button ng-click="playPause()">
      {{ (isPlaying ? "Pause" : "Play") }}
    </button>

  </div>
</div>